// Bulma overrides
$family-sans-serif: Open Sans, "Arial", sans-serif !default;
$body-size: 21px !default;
$primary: #006AFF;//#2E84FF;
$footer-background-color: #f4f5f9;//#ebebeb;
$info: #128091;
$danger: #d81159;
$link: #173753; //space cadet color