<div class="mj-footer-first-row columns grid-header is-variable is-6">
    <div class="column is-6 mj-footer-brand">
        <img src="/wp-content/themes/modern-minimalist/img/logo.svg" alt="" class="brand__logo" title="Michał Junke">
        {#<a href="/esencjalizm" class="mj-footer-link">Mniej, ale lepiej</a>#}
        <a href="/polityka-prywatnosci" class="mj-footer-link is-size-7">Polityka prywatności i cookies</a>
		<a href="#privacy-settings" class="mj-footer-link is-size-7">Ustawienia prywatności</a>
    </div>
    <div class="column is-3">
		<ul>
    	    {% for item in menu.get_items %}
			<li class="mj-footer-link">
				<a href="{{item.link}}">{{item.title}}</a>
			</li>
			{% endfor %}
		</ul>
    </div>
    <div class="column is-3">
		<ul>
			<li class="mj-footer-link">
				<a href="https://github.com/rharill" aria-label="Przejdź do mojego profilu na Githubie">GitHub</a>
			</li>
			<li class="mj-footer-link">
				<a href="https://codepen.io/Rharill" aria-label="Przejdź do mojego profilu na Codepenie">CodePen</a>
			</li>
			<li class="mj-footer-link">
				<a href="https://linkedin.com/in/michaljunke" aria-label="Przejdź do mojego profilu na Linkedinie">LinkedIn</a>
			</li>
		</ul>
    </div>
</div>

<p class="grid-header is-size-7 has-text-centered">© {{"now"|date('Y')}}. Wszelkie prawa zastrzeżone. Strona stworzona z <i class="mji-heart footer-heart" title="pasją"></i> przez Michała Junkego.</p>