{% if menu %}
	{% for item in menu %}
		<div class="{{ item.classes | join(' ') }} navbar-item">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</div>
	{% endfor %}
{% endif %}
