{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} content" id="post-{{post.ID}}">
			{% if fn('is_front_page') == false %}
			<header class="article-title grid">
				<h1 class="article-h1">{{post.title}}</h1>
			</header>
			{% endif %}
				<div class="article-body grid">
					{{post.content}}
				</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}